.grid-section {
  margin: 0;
  display: grid;
  position: relative;
  /* padding: 0; */
  outline: 1px dashed transparent;
  transition: outline 0.3s, padding 0.3s, margin 0.3s;
  justify-content: center;
  align-items: center;
  transition: outline 0.3s;
  outline: 1px solid transparent;
  outline-offset: -1px;
}
.main-container {
  z-index: 3;
  width: 100%;
  min-height: auto;
  /* padding: 20px 0px; */
}

.placeholder {
  /* grid-area: 2 / 2 / 4 / 4 !important; */
  background-color: bisque;
}
.placeholder2 {
  /* grid-area: 3 / 3 / 6 / 6 !important; */
  opacity: 0.2;
  background-color: slateblue;
  display: grid;
  grid-gap: var(--gg);
  /* grid-auto-flow: row dense; */
  grid-template-columns: repeat(6, 1fr);
}

.empty-grid {
  display: grid;
  text-align: center;
  align-items: center;
  line-height: 1em;
}

.guides {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1;
  opacity: 1;
}
.gridbox {
  fill: rgba(0, 0, 0, 0.2);
}
.guides rect {
  transition: fill 0.3s;
}
.basegrid {
  position: relative;
  width: var(--gw);
  max-width: 100%;
  display: grid;
  grid-gap: var(--gg);
  grid-auto-flow: row dense;
  grid-template-columns: repeat(
    var(--gc),
    calc((var(--gw) + var(--gg)) / var(--gc) - var(--gg))
  ) !important;
  grid-auto-rows: calc(
    (var(--gw) + var(--gg)) / var(--gc) - var(--gg)
  ) !important;
}

.basegrid > div {
  grid-column: var(--x) / span var(--w);
  grid-row: var(--y) / span var(--h);
}

.basegrid.fixed {
  grid-auto-rows: calc((var(--gw) + var(--gg)) / var(--gc) - var(--gg));
}
.basegrid.expand {
  grid-auto-rows: minmax(
    calc((var(--gw) + var(--gg)) / var(--gc) - var(--gg)),
    max-content
  );
}
