/**
Indicator
*/
.sppb-drop-target-outline {
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 0;
    pointer-events: none;
}

//Addon wrapper
.sppb-addon-outline {
    border: 0.2rem dashed rgba(253, 129, 43, 0.56);
    top: 0px;
    left: 0px;
    background: none;
    pointer-events: none;
    &.sppb-hover-wrapper {
        border-color: rgba(253, 129, 43, 0.3);
    }
}
.sppb-addon-tag {
    background: var(--primary-color);
    display: flex;
    min-width: 95px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: var(--white);
    padding: 1px 5px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: -1px;
    top: -14px;
    text-transform: capitalize;
}