//Left/Right sidebar
.sppb-left-sidebar,
.sppb-right-sidebar {
  color: var(--default-text-color);
  position: fixed;
  width: var(--sidebar-width);
  top: calc(var(--top-portal-height) + var(--space-15));
  height: calc(var(--height-100) - (var(--top-portal-height) + var(--space-30)));
  letter-spacing: var(--letter-spacing-default);
  overflow: hidden;
  border-radius: var(--space-5);
  padding: 0 1.1818rem;
}
.sppb-left-sidebar {
  left: var(--space-0);
}
.sppb-right-sidebar {
  left: auto;
  right: var(--space-0);
  .sidebar-panel {
    height: auto;
  }
}
.sppb-right-sidebar-content-wrap {
  background-color: var(--pearl-dark);
}
.sppb-right-setting-wrap {
  padding: 0 0.7273rem 1.3636rem;
  overflow-y: scroll;
  height: 72vh;
  @include scrollbar(1rem, auto);
}
//Editor/Docker panel
.sppb-editor-panel {
  ul {
    @include border("-top", 1px, solid, var(--controller-color));
    display: flex;
    justify-content: space-around;
  }
  li {
    padding: var(--space-10) var(--space-5);
    border-bottom: 2px solid transparent;
    margin-top: -1px;
    border-radius: 1px;
    font-size: 1.4545rem;
    letter-spacing: -0.18px;
    font-weight: var(--font-weight-light);
    @include transition(0.35s);
    color: var(--white);
    &:hover,
    &:focus,
    &.active {
      border-color: var(--primary-color);
      i {
        color: var(--small-text-color);
      }
    }
    i {
      color: var(--battleship-gray);
    }
  }
}

.sppb-addon-list-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 38vh;
  @include scrollbar(0.6364rem, auto);
}
.sppb-docker {
  margin: var(--space-15) 0;
  &:focus {
    outline: 0;
  }
}
.sidebar-panel {
  height: calc(var(--height-100vh) - var(--space-80));
}
.sppb-addon-list {
  margin: 0 var(--space-10);
  flex: 1;
}
.sppb-addon-list-item {
  padding: var(--space-10);
  color: var(--default-text-color);
  transition: all 0.35s;
  border-radius: 0.1818rem;
  img {
    max-width: var(--space-50);
    filter: invert(50%);
    transition: all 0.35s;
  }
  &:hover {
    background-color: var(--battleship-gray);
    color: var(--white);
    img {
      filter: invert(100%);
    }
  }
}
.sppb-addon-list-item-title {
  display: block;
  margin-top: var(--space-15);
}
//Right sidebar
.right-sidebar-header {
  .sppb-drag-icon {
    font-size: 2.5rem;
    line-height: 0.5;
  }
}
//Reusable component
.sppb-reusable-component-docker {
  background: var(--charcoal-dark);
  padding: 0.4545rem;
  border-radius: 0.2727rem;
  box-shadow: 0 1px 1px 0 rgba(var(--black-rgb), 0.3);
}
.sppb-reusable-content {
  padding: 0 0.7273rem 1.3636rem;
  i {
    font-size: 1.3rem;
    padding: 0px 0.4545rem;
  }
  p {
    margin: 0;
  }
}
.sppb-reuseable-title {
  span {
    color: var(--battleship-gray);
  }
}
.sppb-reusable-content-body {
  border-radius: 0.2727rem;
  @include border("", 1px, solid, var(--brush-marble-gray));
  background: var(--pearl-dark);
  flex: 1;
  padding: 1.3636rem;
  margin-top: 1.3636rem;
  display: flex;
  .sppb-tags-btn {
    margin-left: 0.9091rem;
  }
}
//Sidebar panel
.sppb-style-component-docker {
  height: 100%;
}
.sppb-sidebar-panel {
  margin-top: 1.3636rem;
  border-radius: 0.4545rem;
  box-shadow: 0 1px 1px 0 rgba(1, 1, 2, 0.67);
  background: var(--pearl-dark);
  @include scrollbar(0.5455rem, auto);
  height: 100%;
  overflow-y: scroll;
}
.sppb-sidebar-panel-content {
  padding-bottom: 10.0909rem;
}
.sppb-sidebar-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sppb-sidebar-panel-icon {
  i {
    padding: 0 0.4545rem;
  }
}
.editor-x-style-panel-manage-title {
  text-align: center;
  color: var(--chateua-gray);
  letter-spacing: 0.3px;
  margin-top: 1.3636rem;
}
.editor-x-style-panel-wrap {
  background: var(--charcoal-dark);
  border-radius: 0.2727rem;
  box-shadow: inset 0 0.5px 0 0 rgba(var(--white-rgb), 0.1), inset 0 -1px 0 0 #2b2b2b, inset 0 -0.5px 0 0 var(--black);
  padding: 1.6364rem 0 1.3636rem 0.9091rem;
}
.editor-x-empty-style-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
  .editor-x-guid-for-style-panel {
    background: rgba(var(--black-rgb), 0.5);
    color: rgba(var(--white-rgb), 0.6);
    padding: 0.9091rem;
    text-align: center;
    border-radius: 0.2727rem;
  }
}
//Left sidebar layer
.editor-x-navigator {
  background: var(--charcoal-dark);
  box-shadow: inset 0 0 0 0 var(--black), inset 0 -1px 0 0 #2b2b2b, inset 0 0 0 0 rgba(var(--white-rgb), 0.1);
  border-radius: 0.2727rem;
  height: 100%;
  padding: 1.0909rem;
}

.editor-x-navigator-layer {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 0.2273rem;
  padding: 0 4px 0px 8px;
  height: 24px;
  &:nth-child(odd) {
    background: var(--squid-ink-dark);
  }
  &:hover {
    box-shadow: 0 0.5px 1.5px 0 rgba(var(--black-rgb), 0.2), inset 0 0.5px 0 0 rgba(var(--white-rgb), 0.16),
      inset 0 1px 0 0 rgba(var(--white-rgb), 0.04);
    background: rgba(var(--white-rgb), 0.04);
  }
  &.editor-x-selected-layer {
    box-shadow: 0 0.5px 1.5px 0 rgba(var(--black-rgb), 0.2), inset 0 0.5px 0 0 rgba(var(--white-rgb), 0.16),
      inset 0 1px 0 0 rgba(var(--white-rgb), 0.04);
    background: var(--battleship-gray);
  }
  &.editor-x-selected-layer {
    .editor-x-navigator-drag,
    .editor-x-navigator-dot-btn {
      opacity: 1;
      visibility: visible;
    }
  }
}
.editor-x-navigator-content {
  display: flex;
  flex: 1 1 0%;
  align-items: center;
  white-space: nowrap;
  i {
    font-size: 1.2rem;
  }
  span {
    display: inline-block;
  }
}
.editor-x-navigator-hash {
  padding: 0 0.4545rem;
}
.editor-x-layer-depth-1 {
  .editor-x-navigator-text {
    color: var(--white);
  }
}
.editor-x-navigator-text {
  overflow: hidden;
  text-overflow: ellipsis;
}
.editor-x-layer-has-no-children {
  .editor-x-navigator-collaps {
    background: rgba(0, 0, 0, 0.1);
    &::before {
      display: none;
    }
  }
  i {
    display: none;
  }
}
.editor-x-navigator-collaps {
  position: relative;
  cursor: pointer;
  &::before {
    content: "";
    width: 2px;
    height: var(--dot-line-height);
    position: absolute;
    left: 0.2727rem;
    border-left: 2px dotted rgba(var(--white-rgb), 0.1);
    top: 1.0909rem;
  }
}
.editor-x-navigator-drag {
  cursor: grab;
  opacity: 0;
  visibility: hidden;
  font-size: 0.75rem;
  position: absolute;
}
.editor-x-navigator-dot-btn {
  margin-left: auto;
  width: 1.8182rem;
  height: 1.8182rem;
  border-radius: 0.2727rem;
  display: inline-block;
  text-align: center;
  line-height: 1.8182rem;
  background: rgba(var(--black-rgb), 0.1);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}

.editor-x-navigator {
  .editor-x-navigator-inner {
    transform: translate3d(0px, 0px, 0px);
  }
}
