//Left/Right sidebar
.sppb-left-sidebar,
.sppb-right-sidebar {
    color: var(--default-text-color);
    position: fixed;
    width: var(--sidebar-width);
    // background: var(--charcoal-dark);
    top: calc(var(--top-portal-height) + var(--space-15));
    height: calc(
        var(--height-100) - (var(--top-portal-height) + var(--space-30))
    );
    letter-spacing: var(--letter-spacing-default);
    overflow: hidden;
    border-radius: var(--space-5);
    padding: 0 1.1818rem;
}
.sppb-left-sidebar {
    left: var(--space-0);
}
.sppb-right-sidebar {
    left: auto;
    right: var(--space-0);
    .sidebar-panel {
        height: auto;
    }
}
.sppb-right-sidebar-content-wrap {
    background-color: var(--pearl-dark);
}
.sppb-right-setting-wrap {
    padding: 0 8px 15px;
    overflow-y: scroll;
    height: 72vh;
    @include scrollbar();
}
//Editor/Docker panel
.sppb-editor-panel {
    ul {
        @include border("-top", 1px, solid, var(--controller-color));
        display: flex;
        justify-content: space-around;
    }
    li {
        display: inline-block;
        padding: var(--space-10) var(--space-5);
        border-top: 2px solid transparent;
        margin-top: -1px;
        border-radius: 1px;
        @include transition(0.35s);
        &:hover,
        &:focus,
        &.active {
            border-color: var(--primary-color);
        }
    }
}

.sppb-addon-list-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 38vh;
    @include scrollbar();
}
.sppb-docker {
    margin: var(--space-15) 0;
    &:focus {
        outline: 0;
    }
}
.sidebar-panel {
    height: calc(var(--height-100vh) - var(--space-80));
}
.sppb-addon-list {
    margin: 0 var(--space-10);
    flex: 1;
}
.sppb-addon-list-item {
    padding: var(--space-10);
    color: var(--default-text-color);
    transition: all 0.35s;
    border-radius: 0.1818rem;
    img {
        max-width: var(--space-50);
        filter: invert(50%);
        transition: all 0.35s;
    }
    &:hover {
        background-color: var(--battleship-gray);
        color: var(--white);
        img {
            filter: invert(100%);
        }
    }
}
.sppb-addon-list-item-title {
    display: block;
    margin-top: var(--space-15);
}
//Reusable component
.sppb-reusable-component-docker {
    background: var(--charcoal-dark);
    padding: 0.4545rem;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(var(--black-rgb), 0.3);
}
.sppb-reusable-content {
    padding: 5px 8px 15px;
    i {
        font-size: 1.3rem;
        padding: 0px 5px;
    }
    p {
        margin: 0;
    }
}
.sppb-reuseable-title {
    span {
        color: var(--battleship-gray);
    }
}
.sppb-reusable-content-body {
    border-radius: 0.2727rem;
    @include border("", 1px, solid, var(--brush-marble-gray));
    background: var(--pearl-dark);
    flex: 1;
    padding: 1.3636rem;
    margin-top: 1.3636rem;
    display: flex;
    .sppb-tags-btn {
        margin-left: 0.9091rem;
    }
}
//Sidebar panel
.sppb-sidebar-panel {
    margin-top: 1.3636rem;
    border-radius: 0.4545rem;
    box-shadow: 0 1px 1px 0 rgba(1, 1, 2, 0.67);
    background: var(--pearl-dark);
    padding: 0.2727rem;
}
.sppb-sidebar-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sppb-sidebar-panel-icon {
    i {
        padding: 0 0.4545rem;
    }
}
.sppb-panel-title {
    text-align: center;
    color: var(--dark-bg-text-color);
    letter-spacing: 0.3px;
    margin-top: 15px;
}
.sppb-sidebar-panel-body {
    border-radius: 0.2727rem;
    background: var(--charcoal-dark);
    padding: 15px 10px;
    height: 50vh;
}
//Left sidebar layer
.editor-x-navigator {
    background: var(--charcoal-dark);
    box-shadow: inset 0 0 0 0 var(--black), inset 0 -1px 0 0 #2b2b2b,
        inset 0 0 0 0 rgba(var(--white-rgb), 0.1);
    border-radius: 0.2727rem;
    height: 100%;
    padding: 1.0909rem;
}

.editor-x-navigator-layer {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 0.2273rem;
    padding: 0 4px 0px 8px;
    @include transition(0.35s);
    &:nth-child(odd) {
        background: var(--squid-ink-dark);
    }
    &:hover {
        box-shadow: 0 0.5px 1.5px 0 rgba(var(--black-rgb), 0.2),
            inset 0 0.5px 0 0 rgba(var(--white-rgb), 0.16),
            inset 0 1px 0 0 rgba(var(--white-rgb), 0.04);
        background: var(--battleship-gray);
        .editor-x-navigator-drag,
        .editor-x-navigator-dot-btn {
            opacity: 1;
            visibility: visible;
        }
    }
}
.editor-x-navigator-content {
    display: flex;
    align-items: center;
    white-space: nowrap;
    i {
        font-size: 1.2rem;
    }
    span {
        display: inline-block;
    }
}
.editor-x-navigator-hash {
    padding: 0 0.4545rem;
}
.editor-x-layer-depth-1 {
    .editor-x-navigator-text {
        color: var(--white);
    }
}
.editor-x-navigator-text {
    overflow: hidden;
    text-overflow: ellipsis;
}
.editor-x-layer-has-no-children {
    .editor-x-navigator-collaps {
        &::before {
            display: none;
        }
    }
    i {
        display: none;
    }
}
.editor-x-navigator-collaps {
    position: relative;
    &::before {
        content: "";
        width: 2px;
        height: var(--dot-line-height);
        position: absolute;
        left: 0.2727rem;
        border-left: 2px dotted rgba(var(--white-rgb), 0.1);
        top: 1.0909rem;
    }
}
.editor-x-navigator-drag {
    cursor: grab;
    opacity: 0;
    visibility: hidden;
    font-size: 0.75rem;
}
.editor-x-navigator-dot-btn {
    margin-left: auto;
    width: 1.8182rem;
    height: 1.8182rem;
    border-radius: 0.2727rem;
    display: inline-block;
    text-align: center;
    line-height: 1.8182rem;
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}
