//Left/Right sidebar
.sppb-left-sidebar,
.sppb-right-sidebar {
    color: var(--default-text-color);
    position: fixed;
    width: var(--sidebar-width);
    // background: var(--charcoal-dark);
    top: calc(var(--top-portal-height) + var(--space-15));
    height: calc(
        var(--height-100) - (var(--top-portal-height) + var(--space-30))
    );
    letter-spacing: var(--letter-spacing-default);
    overflow: hidden;
    border-radius: var(--space-5);
    padding: 0 1.1818rem;
}
.sppb-left-sidebar {
    left: var(--space-0);
}
.sppb-right-sidebar {
    left: auto;
    right: var(--space-0);
    .sidebar-panel {
        height: auto;
    }
}
.sppb-right-sidebar-content-wrap {
    background-color: var(--pearl-dark);
}
.sppb-right-setting-wrap {
    padding: 0 8px 15px;
    overflow-y: scroll;
    height: 72vh;
    @include scrollbar();
}
//Editor/Docker panel
.sppb-editor-panel {
    ul {
        @include border("-top", 1px, solid, var(--controller-color));
        display: flex;
        justify-content: space-around;
    }
    li {
        display: inline-block;
        padding: var(--space-10) var(--space-5);
        border-top: 2px solid transparent;
        margin-top: -1px;
        border-radius: 1px;
        @include transition(0.35s);
        &:hover,
        &:focus,
        &.active {
            border-color: var(--primary-color);
        }
    }
}

.sppb-addon-list-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 38vh;
    @include scrollbar();
}
.sppb-docker {
    margin: var(--space-15) 0;
    background: var(--charcoal-dark);
    &:focus {
        outline: 0;
    }
}
.sidebar-panel {
    height: calc(var(--height-50vh) - var(--space-80));
}
.sppb-addon-list {
    margin: 0 var(--space-10);
    flex: 1;
}
.sppb-addon-list-item {
    padding: var(--space-10);
    color: var(--default-text-color);
    transition: all 0.35s;
    border-radius: 0.1818rem;
    img {
        max-width: var(--space-50);
        filter: invert(50%);
        transition: all 0.35s;
    }
    &:hover {
        background-color: var(--battleship-gray);
        color: var(--white);
        img {
            filter: invert(100%);
        }
    }
}
.sppb-addon-list-item-title {
    display: block;
    margin-top: var(--space-15);
}

