.editor-x-spacing-wrap {
  border-radius: 0.1818rem;
  @include border("", 1px, solid, var(--brush-marble-gray));
  padding: 1.8182rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 5px;
  input {
    border: 0;
    -moz-appearance: textfield;
    background: transparent;
    outline: 0;
    text-align: center;
    width: 2.1818rem;
    height: 1.5455rem;
    border-radius: 1px;
    letter-spacing: 0.05px;
    color: var(--chateua-gray);
    display: inline-block;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &:focus {
      border: 1px solid #fff;
    }
  }
}
.editor-x-spacing-panel {
  padding: 0 0.5455rem;
  .editor-x-radio-control {
    margin-top: 5px;
    margin-bottom: 15px;
  }
}
//Panel style
.editor-x-panel-header {
  display: flex;
  padding-bottom: 10px;
}
.editor-x-panel-header-right {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 0 20px 8px 0;
  @include border("-bottom", 1px, solid, var(--shark-dark));
}
.editor-x-panel-header-left-icon {
  padding-right: 10px;
  color: var(--regent-gray);
}
.editor-x-panel-header-title {
  padding-right: 6px;
  color: var(--chateua-gray);
}
.editor-x-panel-changes {
  margin-right: auto;
  border-radius: 0.4545rem;
  background: var(--shark-dark);
  padding: 2px 10px;
  color: var(--dark-bg-text-color);
}
.editor-x-panel-x-body {
  padding-right: 10px;
}
.editor-x-panel-toggle-icon {
  cursor: pointer;
  color: var(--battleship-gray);
}
.editor-x-panel-active {
  .editor-x-panel-header-left-icon {
    color: var(--acuamarine);
  }
  .editor-x-panel-header-title {
    color: var(--white);
  }
}
.editor-x-size-component {
  .editor-accordion-content {
    padding: 5px 0;
    @include border("-bottom", 1px, solid, var(--brush-marble-gray));
  }
}
.editor-x-size-height-width {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
  margin-top: 5px;
}
.editor-x-size-lock {
  color: var(--battleship-gray);
  font-size: 0.75rem;
  cursor: pointer;
  transform: rotate(-45deg);
  padding: 3px;
}
//Margin settings
.editor-x-margin-top {
  width: 9.6364rem;
  border-bottom: 2px solid var(--small-text-color);
  height: 1.6364rem;
  border-right: 1px solid var(--small-text-color);
  border-left: 1px solid var(--small-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 0.9091rem;
  cursor: n-resize;
  .editor-x-spacing-value {
    margin-bottom: 0.4545rem;
  }
}
.editor-x-spacing-bottom-text,
.editor-x-margin-text {
  color: var(--dark-bg-text-color);
  position: absolute;
  margin: 0;
  font-size: 0.7273rem;
}
.editor-x-margin-text {
  right: 0px;
  bottom: -1.1818rem;
}
.editor-x-spacing-bottom-text {
  bottom: 1px;
  right: 2px;
}
.editor-x-link-icon {
  position: absolute;
  bottom: -1.0909rem;
  transform: rotate(45deg);
  font-size: 0.7273rem;
}
.editor-x-margin-bottom {
  width: 9.6364rem;
  border-top: 2px solid var(--small-text-color);
  height: 1.6364rem;
  border-right: 1px solid var(--small-text-color);
  border-left: 1px solid var(--small-text-color);
  margin-left: 2.7273rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.0909rem;
  position: relative;
  cursor: n-resize;
  .editor-x-link-icon {
    bottom: auto;
    top: -1.0909rem;
  }
  .editor-x-spacing-value {
    margin-top: 0.4545rem;
  }
}
.editor-x-margin-left {
  height: 9.6364rem;
  border-right: 2px solid var(--small-text-color);
  width: 1.6364rem;
  border-bottom: 1px solid var(--small-text-color);
  border-top: 1px solid var(--small-text-color);
  margin-top: 2.7273rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: w-resize;
  .editor-x-link-icon {
    bottom: auto;
    right: -1.0909rem;
    transform: rotate(-45deg);
  }
  .editor-x-spacing-value {
    margin-right: 0.9091rem;
  }
}
.editor-x-margin-right {
  height: 9.6364rem;
  border-left: 2px solid var(--small-text-color);
  width: 1.6364rem;
  border-bottom: 1px solid var(--small-text-color);
  border-top: 1px solid var(--small-text-color);
  position: absolute;
  right: 1.8182rem;
  left: auto;
  top: 4.6364rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: w-resize;
  .editor-x-link-icon {
    bottom: auto;
    left: -1.0909rem;
    transform: rotate(-45deg);
  }
  .editor-x-spacing-value {
    margin-left: 0.9091rem;
  }
}
//Padding settings
.editor-x-padding-wrap {
  position: absolute;
  width: 9.6364rem;
  border: 1px solid var(--dark-bg-text-color);
  border-radius: 0.1818rem;
  height: 9.6364rem;
  margin: auto;
  left: 0;
  top: 2px;
  bottom: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
}
.editor-x-padding-top {
  width: 4.0909rem;
  border-radius: 0.5px;
  border-bottom: 1px solid #aaaaaa;
  position: relative;
  height: 2.5455rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1px;
  cursor: n-resize;
}
.editor-x-padding-bottom {
  width: 4.0909rem;
  border-radius: 0.5px;
  border-top: 1px solid #aaaaaa;
  position: relative;
  height: 2.5455rem;
  margin-left: 2.7273rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: n-resize;
  .editor-x-link-icon {
    bottom: auto;
    top: -1.0909rem;
  }
}
.editor-x-padding-left {
  height: 4.0909rem;
  border-radius: 0.5px;
  border-right: 1px solid #aaaaaa;
  position: relative;
  width: 2.5455rem;
  margin-top: 2.7273rem;
  display: flex;
  align-items: center;
  cursor: w-resize;
  .editor-x-spacing-value {
    margin-left: 2px;
  }
  .editor-x-link-icon {
    bottom: auto;
    right: -1.0909rem;
    transform: rotate(-45deg);
  }
}
.editor-x-padding-right {
  height: 4.0909rem;
  border-radius: 0.5px;
  border-left: 1px solid #aaaaaa;
  position: absolute;
  right: 0;
  width: 2.5455rem;
  top: 2.5455rem;
  display: flex;
  align-items: center;
  cursor: w-resize;
  .editor-x-spacing-value {
    margin-right: 2px;
  }
  .editor-x-link-icon {
    bottom: auto;
    left: -1.0909rem;
    transform: rotate(-45deg);
  }
}
.editor-x-padding-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 1.0909rem;
  margin: auto;
  width: 1.0909rem;
  color: var(--dark-bg-text-color);
  font-size: 0.7273rem;
}
//Color picker
.circle-picker {
  &.editor-x-circle-picker {
    width: 100% !important;
    margin: 0 !important;
  }
  > span {
    &:first-child {
      margin-left: 28px;
    }
    > div {
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.4);
    }
  }
}
.sketch-picker {
  > div.flexbox-fix:last-child {
    display: none !important;
  }
}
.editor-x-color-picker-wrapper {
  display: flex;
  flex-direction: column;
  padding-right: 0.9091rem;
}
.sketch-picker {
  &.editor-x-sketch-picker {
    // I know using !important is a bad coding style. But I have no choice, becuase library adding inline style so to override those style I need to use !important.
    width: 100% !important;
    box-sizing: border-box !important;
    padding: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
    border-bottom: 1px solid var(--brush-marble-gray);
    padding-bottom: 10px !important;
    > div {
      border-radius: 0.6364rem;
      &:nth-child(2) {
        > div {
          div {
            border-radius: 4px;
          }
        }
      }
    }
    input {
      background: transparent !important;
      border: 0 !important;
      color: var(--white);
      box-shadow: none !important;
      text-align: center !important;
      padding: 2px 3px !important;
    }
    span {
      color: var(--white) !important;
    }
  }
}
.editor-x-add-color {
  background: var(--pearl-dark);
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  font-size: 1.0909rem;
}
.editor-x-color-select {
  display: flex;
  justify-content: space-around;
  border: 0;
  &.spp-radio-has-icon {
    margin-top: 1rem;
  }
  button {
    text-indent: -9999px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    flex: initial;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
    border: 0;
    &.editor-x-color-select-item-one {
      background: var(--chateua-gray);
    }
    &.editor-x-color-select-item-two {
      background: linear-gradient(
        to top,
        var(--regent-gray) 10%,
        var(--small-text-color)
      );
    }
    &.editor-x-color-select-item-three {
      background: radial-gradient(
        circle at 50% 50%,
        var(--small-text-color),
        var(--battleship-gray) 71%
      );
    }
    &.editor-x-color-select-item-four {
      text-indent: 0;
      span {
        position: initial;
      }
    }
    &.editor-x-active-item {
      border: solid 1px var(--white);
      border-radius: 50%;
      background: var(--dark-bg-text-color);
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
    }
  }
}
//Gradient
.editor-x-range-slider-control-panel {
  position: relative;
  flex: 1;
}
.editor-x-range-slider-bottom {
  margin-left: 10px;
  cursor: pointer;
}
.editor-x-radial-size {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  .editor-x-radio-control {
    flex: 1;
    margin: 0;
    button {
      span {
        position: initial;
      }
    }
  }
}
.editor-x-radial-position-text {
  margin-right: 10px;
}
.editor-x-radial-positions-top-left {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.editor-x-linear-angle {
  margin-bottom: 10px;
  display: flex;
}
//Border component
.editor-x-border-main {
  display: flex;
}
.editor-x-border-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 35px;
  height: 39px;
  position: relative;
  margin-right: 15px;
  flex: 0 0 35px;
}
.editor-x-border-left,
.editor-x-border-right {
  height: 27px;
  width: 4px;
  background: var(--regent-gray);
  cursor: w-resize;
}
.editor-x-border-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 5px;
}
.editor-x-border-right {
  position: absolute;
  right: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  top: 5px;
}
.editor-x-border-center {
  width: 10px;
  height: 10px;
  background: var(--small-text-color);
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}
.editor-x-border-top,
.editor-x-border-bottom {
  height: 4px;
  width: 27px;
  background: var(--regent-gray);
  cursor: n-resize;
}
.editor-x-border-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.editor-x-border-bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: 4px;
}
.editor-x-border-controls {
  display: flex;
  justify-content: space-between;
}
.editor-x-border-color-wrap {
  border-radius: 0.2727rem;
  border: solid 1px var(--brush-marble-gray);
  background: var(--shark-dark);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.3636rem 0;
}
.editor-x-border-color-fields {
  border-radius: 0.1818rem;
  border: solid 1px var(--brush-marble-gray);
  background: var(--pearl-dark);
  display: flex;
  align-items: center;
}
.editor-x-border-color-value {
  background: var(--user-bg-color);
  border-right: solid 1px var(--brush-marble-gray);
  border-radius: 0.1818rem;
  width: 4.1818rem;
  height: 1.1818rem;
}
.editor-x-border-color-property {
  width: 4.7273rem;
  padding-left: 0.0909rem;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  @include scrollbar(auto, 2px);
}
.editor-x-border-color-delete {
  font-size: 0.9rem;
  cursor: pointer;
}
