.editor-x-spacing-wrap {
  border-radius: 0.1818rem;
  @include border("", 1px, solid, var(--brush-marble-gray));
  padding: 1.8182rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 0.4545rem;
  input {
    border: 0;
    -moz-appearance: textfield;
    background: transparent;
    outline: 0;
    text-align: center;
    width: 2.1818rem;
    height: 1.5455rem;
    border-radius: 1px;
    letter-spacing: 0.0045rem;
    color: var(--chateua-gray);
    display: inline-block;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &:focus {
      border: 1px solid var(--white);
    }
  }
}
.editor-x-spacing-panel {
  padding: 0 0.5455rem;
  .editor-x-radio-control {
    margin-top: 0.4545rem;
    margin-bottom: 1.3636rem;
  }
  .editor-x-accordion-item {
    margin-bottom: 15px;
  }
  .editor-x-accordion-content {
    border-radius: 3px;
    border: solid 1px var(--brush-marble-gray);
    padding: 1.1818rem 0.4545rem 1.1818rem 1.6364rem;
    margin: 0.9091rem 0 0;
    display: flex;
    align-items: center;
  }
  .editor-x-side-control-icons {
    position: relative;
    margin: 0;
  }
}
.editor-x-fixed-width-height-wrap {
  margin-left: 0.9091rem;
}
.editor-x-fixed-width,
.editor-x-fixed-height {
  display: flex;
  align-items: center;
}
.editor-x-fixed-width {
  margin-bottom: 0.7273rem;
}
.editor-x-fixed-width-icon,
.editor-x-fixed-height-icon {
  width: 2.3636rem;
  height: 2.3636rem;
  border-radius: 0.2727rem;
  border: solid 1px var(--brush-marble-gray);
  background: var(--shark-dark);
  margin-right: 0.9091rem;
}
//Panel style
.editor-x-panel-header {
  display: flex;
  padding-bottom: 0.9091rem;
  &.editor-x-panel-active {
    .editor-x-panel-header-right {
      border: 0;
    }
  }
}
.editor-x-panel-heading {
  display: block;
  margin-bottom: 0.9091rem;
  color: var(--white);
  font-weight: 500;
}
.editor-x-panel-header-right {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 0 1.8182rem 0.7273rem 0;
  @include border("-bottom", 1px, solid, var(--shark-dark));
}
.editor-x-panel-header-left-icon {
  padding-right: 0.9091rem;
  color: var(--regent-gray);
  font-size: 1.5rem;
}
.editor-x-panel-header-title {
  padding-right: 0.5455rem;
  color: var(--chateua-gray);
}
.editor-x-panel-changes {
  margin-right: auto;
  border-radius: 0.4545rem;
  background: var(--shark-dark);
  padding: 0.1818rem 0.9091rem;
  color: var(--dark-bg-text-color);
}
.editor-x-panel-x-body {
  padding-right: 0.9091rem;
}
.editor-x-panel-toggle-icon {
  cursor: pointer;
  color: var(--battleship-gray);
}
.editor-x-panel-active {
  .editor-x-panel-header-left-icon {
    color: var(--acuamarine);
  }
  .editor-x-panel-header-title {
    color: var(--white);
  }
}
.editor-x-size-component {
  padding: 0 0.9091rem 0.9091rem;
  .editor-accordion-content {
    padding: 0.4545rem 0;
    @include border("-bottom", 1px, solid, var(--brush-marble-gray));
  }
}
.editor-x-size-height-width {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.6364rem;
}
.editor-x-accordion-content {
  .editor-x-size-height-width {
    margin-top: 0.4545rem;
  }
}
.editor-x-size-lock {
  color: var(--battleship-gray);
  font-size: 0.75rem;
  cursor: pointer;
  transform: rotate(-45deg);
  padding: 0.2727rem;
}
//Overflow
.editor-x-overflow-style {
  .editor-x-radio-control {
    margin: 1.8182rem 0 1.3636rem;
  }
}
//Margin settings
.editor-x-margin-top {
  width: 9.6364rem;
  border-bottom: 0.1818rem solid var(--small-text-color);
  height: 1.6364rem;
  border-right: 1px solid var(--small-text-color);
  border-left: 1px solid var(--small-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 0.9091rem;
  cursor: n-resize;
  .editor-x-spacing-value {
    margin-bottom: 0.4545rem;
  }
  &.editor-x-spacing-active {
    border-color: var(--dark-bg-text-color);
  }
}
.editor-x-spacing-bottom-text,
.editor-x-margin-text {
  color: var(--dark-bg-text-color);
  position: absolute;
  margin: 0;
  font-size: 0.7273rem;
}
.editor-x-margin-text {
  right: 0px;
  bottom: -1.1818rem;
}
.editor-x-spacing-bottom-text {
  bottom: 1px;
  right: 0.1818rem;
}
.editor-x-link-icon {
  position: absolute;
  bottom: -1.7rem;
  font-size: 2.1rem;
  &.editor-x-active {
    color: var(--popy-color);
  }
}
.editor-x-margin-bottom {
  width: 9.6364rem;
  border-top: 0.1818rem solid var(--small-text-color);
  height: 1.6364rem;
  border-right: 1px solid var(--small-text-color);
  border-left: 1px solid var(--small-text-color);
  margin-left: 2.7273rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.0909rem;
  position: relative;
  cursor: n-resize;
  .editor-x-link-icon {
    bottom: auto;
    top: -1.7rem;
  }
  .editor-x-spacing-value {
    margin-top: 0.4545rem;
  }
}
.editor-x-margin-left {
  height: 9.6364rem;
  border-right: 0.1818rem solid var(--small-text-color);
  width: 1.6364rem;
  border-bottom: 1px solid var(--small-text-color);
  border-top: 1px solid var(--small-text-color);
  margin-top: 2.7273rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: w-resize;
  .editor-x-link-icon {
    bottom: auto;
    right: -1.81rem;
  }
  .editor-x-spacing-value {
    margin-right: 0.9091rem;
  }
}
.editor-x-margin-right {
  height: 9.6364rem;
  border-left: 0.1818rem solid var(--small-text-color);
  width: 1.6364rem;
  border-bottom: 1px solid var(--small-text-color);
  border-top: 1px solid var(--small-text-color);
  position: absolute;
  right: 1.8182rem;
  left: auto;
  top: 4.6364rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: w-resize;
  .editor-x-link-icon {
    bottom: auto;
    left: -1.8rem;
  }
  .editor-x-spacing-value {
    margin-left: 0.9091rem;
  }
}
//Padding settings
.editor-x-padding-wrap {
  position: absolute;
  width: 9.6364rem;
  border: 1px solid var(--dark-bg-text-color);
  border-radius: 0.1818rem;
  height: 9.6364rem;
  margin: auto;
  left: 0;
  top: 0.1818rem;
  bottom: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
}
.editor-x-padding-top {
  width: 4.0909rem;
  border-radius: 0.0455rem;
  border-bottom: 1px solid #aaaaaa;
  position: relative;
  height: 2.5455rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1px;
  cursor: n-resize;
}
.editor-x-padding-bottom {
  width: 4.0909rem;
  border-radius: 0.0455rem;
  border-top: 1px solid #aaaaaa;
  position: relative;
  height: 2.5455rem;
  margin-left: 2.7273rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: n-resize;
  .editor-x-link-icon {
    bottom: auto;
    top: -1.8rem;
  }
}
.editor-x-padding-left {
  height: 4.0909rem;
  border-radius: 0.0455rem;
  border-right: 1px solid #aaaaaa;
  position: relative;
  width: 2.5455rem;
  margin-top: 2.7273rem;
  display: flex;
  align-items: center;
  cursor: w-resize;
  .editor-x-spacing-value {
    margin-left: 0.8rem;
  }
  .editor-x-link-icon {
    bottom: auto;
    right: -1.7rem;
  }
}
.editor-x-padding-right {
  height: 4.0909rem;
  border-radius: 0.0455rem;
  border-left: 1px solid #aaaaaa;
  position: absolute;
  right: 0;
  width: 2.5455rem;
  top: 2.5455rem;
  display: flex;
  align-items: center;
  cursor: w-resize;
  .editor-x-spacing-value {
    margin-left: 0.6rem;
  }
  .editor-x-link-icon {
    bottom: auto;
    left: -1.7rem;
  }
}
.editor-x-padding-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 1.0909rem;
  margin: auto;
  width: 1.0909rem;
  color: var(--dark-bg-text-color);
  font-size: 0.7273rem;
}
//Background style
.circle-picker {
  &.editor-x-circle-picker {
    width: 100% !important;
    margin: 0 !important;
  }
  > span {
    &:first-child {
      margin-left: 2.5455rem;
    }
    > div {
      border-radius: 50%;
      border: 1px solid rgba(var(--white-rgb), 0.4);
    }
  }
}
.sketch-picker {
  > div.flexbox-fix:last-child {
    display: none !important;
  }
}
.editor-x-color-picker-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}
.sketch-picker {
  &.editor-x-sketch-picker {
    // I know using !important is a bad coding style. But I have no choice, becuase library adding inline style so to override those style I need to use !important.
    width: 100% !important;
    box-sizing: border-box !important;
    padding: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
    border-bottom: 1px solid var(--brush-marble-gray);
    padding-bottom: 0.9091rem !important;
    > div {
      border-radius: 0.6364rem;
      &:nth-child(2) {
        > div {
          div {
            border-radius: 0.3636rem;
          }
        }
      }
    }
    input {
      background: transparent !important;
      border: 0 !important;
      color: var(--white);
      box-shadow: none !important;
      text-align: center !important;
      padding: 0.1818rem 0.2727rem !important;
    }
    span {
      color: var(--white) !important;
    }
  }
  > div {
    &:nth-child(2) {
      padding: 1.3636rem 10px 10px;
    }
  }
}
.editor-x-add-color {
  background: var(--pearl-dark);
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 1.8182rem;
  height: 1.8182rem;
  text-align: center;
  line-height: 1.8182rem;
  border-radius: 50%;
  font-size: 1.0909rem;
}
.editor-x-color-select {
  display: flex;
  justify-content: space-around;
  border: 0;
  &.spp-radio-has-icon {
    margin-top: 1.0909rem;
  }
  button {
    text-indent: -9999px;
    width: 1.8182rem;
    height: 1.8182rem;
    border-radius: 50%;
    flex: initial;
    box-shadow: inset 0 0 0 1px rgba(var(--black-rgb), 0.15);
    border: 0;
    &.editor-x-color-select-item-one {
      background: var(--chateua-gray);
    }
    &.editor-x-color-select-item-two {
      background: linear-gradient(to top, var(--regent-gray) 10%, var(--small-text-color));
    }
    &.editor-x-color-select-item-three {
      background: radial-gradient(circle at 50% 50%, var(--small-text-color), var(--battleship-gray) 71%);
    }
    &.editor-x-color-select-item-four {
      text-indent: 0;
      span {
        position: initial;
      }
    }
    &.editor-x-active-item {
      border: solid 1px var(--white);
      border-radius: 50%;
      background: var(--dark-bg-text-color);
      box-shadow: inset 0 0 0 1px rgba(var(--black-rgb), 0.15);
    }
  }
}
.editor-x-background-style {
  padding: 0 0 1.3636rem;
}
.editor-x-background-item-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  @include transition(0.3s);
  flex-wrap: wrap;
  &:hover {
    border-radius: 0.2727rem;
    box-shadow: 0 4px 8px 0 rgba(var(--black-rgb), 0.35), inset 0 1.5px 1.5px 0 rgba(var(--black-rgb), 0.1),
      inset 0 -0.5px 0 0 rgba(var(--white-rgb), 0.09), inset 0 -1px 0 0 rgba(var(--white-rgb), 0.08),
      inset 0 0.5px 0 0 rgba(var(--white-rgb), 0.05);
    background: var(--pearl-dark);
    .editor-x-background-drag {
      opacity: 1;
      visibility: visible;
    }
    .editor-x-divider {
      opacity: 0;
      visibility: hidden;
    }
  }
  .editor-x-divider {
    width: 95%;
    @include transition(0.3s);
  }
}
.editor-x-background-drag {
  font-size: 0.6rem;
  padding-left: 0.7273rem;
  opacity: 0;
  visibility: hidden;
  @include transition(0.3s);
  position: absolute;
  cursor: grab;
}
.editor-x-background-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7273rem 0.9091rem 0.7273rem 2.2rem;
  flex: 1;
}
.editor-x-background-item-right {
  width: 4.1818rem;
  height: 1.3636rem;
  border: solid 1px var(--brush-marble-gray);
  border-radius: 0.2727rem;
  cursor: pointer;
}
.editor-x-background-item-left {
  display: flex;
  align-items: center;
}
.editor-x-background-indicatior {
  width: 1.8182rem;
  height: 1.8182rem;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(var(--black-rgb), 0.15);
  border: 0;
  background: var(--chateua-gray);
  margin-right: 0.9091rem;
  &.editor-x-active {
    background: var(--dark-bg-text-color);
    border: solid 1px var(--white);
  }
}
.editor-x-background-title {
  text-transform: capitalize;
}
.editor-x-add-background-btn {
  margin: 1.3636rem 0 0.4545rem 0.9091rem;
}
//Gradient
.editor-x-range-slider-control-panel {
  position: relative;
  flex: 1;
}
.editor-x-range-slider-bottom {
  margin-left: 0.9091rem;
  cursor: pointer;
}
.editor-x-radial-size {
  display: flex;
  align-items: center;
  margin-bottom: 0.9091rem;
  .editor-x-radio-control {
    flex: 1;
    margin: 0;
    button {
      span {
        position: initial;
      }
    }
  }
}
.editor-x-radial-position-text {
  margin-right: 0.9091rem;
}
.editor-x-radial-positions-top-left {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.9091rem;
}
.editor-x-linear-angle {
  margin-bottom: 0.9091rem;
  display: flex;
}
//Border component
.editor-x-style-component {
  margin-bottom: 1.3636rem;
  padding-left: 0.4545rem;
  > label {
    display: block;
    margin-bottom: 0.9091rem;
  }
}
.editor-x-border-main {
  display: flex;
}
.editor-x-border-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 3.1818rem;
  height: 3.5455rem;
  position: relative;
  margin-right: 1.3636rem;
  flex: 0 0 3.1818rem;
  margin-right: 1.3636rem;
  flex: 0 0 3.1818rem;
  &.editor-x-border-active-center {
    .editor-x-border-center {
      background: var(--dark-bg-text-color);
    }
  }
  &.editor-x-border-active-left {
    .editor-x-border-left {
      background: var(--dark-bg-text-color);
    }
  }
  &.editor-x-border-active-right {
    .editor-x-border-right {
      background: var(--dark-bg-text-color);
    }
  }
  &.editor-x-border-active-top {
    .editor-x-border-top {
      background: var(--dark-bg-text-color);
    }
  }
  &.editor-x-border-active-bottom {
    .editor-x-border-bottom {
      background: var(--dark-bg-text-color);
    }
  }
}
.editor-x-border-left,
.editor-x-border-right {
  height: 2.4545rem;
  width: 0.3636rem;
  background: var(--regent-gray);
  cursor: w-resize;
}
.editor-x-border-left {
  border-top-left-radius: 1.3636rem;
  border-bottom-left-radius: 1.3636rem;
  margin-top: 0.4545rem;
}
.editor-x-border-right {
  position: absolute;
  right: 0;
  border-top-right-radius: 1.3636rem;
  border-bottom-right-radius: 1.3636rem;
  top: 0.4545rem;
}
.editor-x-border-center {
  width: 0.9091rem;
  height: 0.9091rem;
  background: var(--small-text-color);
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}
.editor-x-border-top,
.editor-x-border-bottom {
  height: 0.3636rem;
  width: 2.4545rem;
  background: var(--regent-gray);
  cursor: n-resize;
}
.editor-x-border-top {
  border-top-left-radius: 1.3636rem;
  border-top-right-radius: 1.3636rem;
}
.editor-x-border-bottom {
  border-bottom-left-radius: 1.3636rem;
  border-bottom-right-radius: 1.3636rem;
  margin-left: 0.3636rem;
}
.editor-x-border-controls {
  display: flex;
  justify-content: space-between;
}
.editor-x-border-color-wrap {
  border-radius: 0.2727rem;
  border: solid 1px var(--brush-marble-gray);
  background: var(--shark-dark);
  padding: 0.9091rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.3636rem 0;
}
.editor-x-border-color-fields {
  border-radius: 0.1818rem;
  border: solid 1px var(--brush-marble-gray);
  background: var(--pearl-dark);
  display: flex;
  align-items: center;
}
.editor-x-border-color-value {
  background: var(--user-bg-color);
  border-right: solid 1px var(--brush-marble-gray);
  border-radius: 0.1818rem;
  width: 4.1818rem;
  height: 1.1818rem;
}
.editor-x-border-color-property {
  width: 4.7273rem;
  padding-left: 0.0909rem;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  @include scrollbar(auto, 0.1818rem);
}
//Css for firefox only
@-moz-document url-prefix() {
  .editor-x-border-color-property {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.editor-x-border-color-delete {
  font-size: 0.9rem;
  cursor: pointer;
}

//Positioning style
.editor-x-position-style {
  padding: 0 0.4545rem;
}
.editor-x-img-preview {
  height: 15.4545rem;
  background: var(--pearl-dark);
  font-size: 1.4545rem;
  letter-spacing: 0.0182rem;
  text-align: center;
  color: rgba(var(--white-rgb), 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.3636rem -1.3636rem;
  padding: 1.3636rem 1rem;
}
.editor-x-position-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 19.2727rem;
  height: 13.4545rem;
  position: relative;
  flex: 0 0 19.2727rem;
  margin: 0 auto;
  .editor-x-input-control-value {
    input {
      max-width: 5rem;
    }
  }
}
.editor-x-position-left,
.editor-x-position-right {
  height: 7.8182rem;
  width: 5.9091rem;
  cursor: w-resize;
  display: flex;
  border-radius: 0.4545rem;
  margin-top: 2.7273rem;
  &.editor-x-position-active {
    border-color: var(--dark-bg-text-color);
  }
}
.editor-x-position-left {
  border-right: 0.4545rem solid var(--regent-gray);
  margin-right: -2px;
}
.editor-x-position-right {
  border-left: 0.4545rem solid var(--regent-gray);
  position: absolute;
  right: 0;
  .editor-x-input-control-value {
    margin-left: 2px;
  }
}
.editor-x-position-top,
.editor-x-position-bottom {
  height: 2.9091rem;
  width: 7.8182rem;
  cursor: n-resize;
  display: flex;
  justify-content: center;
  border-radius: 0.4545rem;
  &.editor-x-position-active {
    border-color: var(--dark-bg-text-color);
  }
}
.editor-x-position-top {
  border-bottom: 0.4545rem solid var(--regent-gray);
  align-items: flex-start;
}
.editor-x-position-bottom {
  border-top: 0.4545rem solid var(--regent-gray);
  margin-left: 5.7273rem;
  margin-top: -0.2727rem;
  align-items: flex-end;
}
.editor-x-position-corners {
  position: absolute;
  width: 5.4545rem;
  height: 5.4545rem;
  border-radius: 0.2727rem;
  border: solid 1px var(--brush-marble-gray);
  background: var(--shark-dark);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 0.6364rem;
}
.editor-x-position-corner-one,
.editor-x-position-corner-two,
.editor-x-position-corner-three {
  display: flex;
  justify-content: space-between;
}
.editor-x-position-corner-one,
.editor-x-position-corner-two {
  margin-bottom: 0.9091rem;
}
.editor-x-position-corner-selector {
  width: 0.7273rem;
  height: 0.7273rem;
  background: var(--chateua-gray);
  border-radius: 50%;
  cursor: pointer;
  &.editor-x-position-corner-active {
    background: var(--dark-bg-text-color);
  }
}
.editor-x-position-contain-elm {
  justify-content: space-between;
  padding-left: 0.9091rem;
  input[type="text"] {
    text-align: center;
  }
}

//Display style
.editor-x-display-style {
  padding-bottom: 1.3636rem;
  .editor-x-img-preview {
    margin-left: -0.95rem;
    margin-right: -0.95rem;
  }
}
.editor-x-display-settings {
  padding: 0 0.4545rem;
}
.editor-x-display-controllers {
  width: 12.3636rem;
  height: 11.0909rem;
  border-radius: 0.2727rem;
  border: solid 1px var(--brush-marble-gray);
  margin: 0 auto;
  position: relative;
  padding: 1.1818rem;
  display: flex;
  flex-wrap: wrap;
}
.editor-x-display-control-start {
  height: 5rem;
  display: flex;
  align-items: center;
  margin-top: 1.7273rem;
}
.editor-x-display-control-top {
  display: flex;
  width: 5.4545rem;
  justify-content: center;
  .editor-x-display-reverse-icon {
    box-shadow: inset 0 1.5px 1.5px 0 rgba(var(--black-rgb), 0.1), inset 0 -0.5px 0 0 rgba(var(--white-rgb), 0.09),
      inset 0 -1px 0 0 rgba(var(--white-rgb), 0.08), inset 0 0.5px 0 0 rgba(var(--white-rgb), 0.05);
    margin-right: 0.4545rem;
  }
}
.editor-x-display-control-bottom {
  width: 100%;
  text-align: center;
}
.editor-x-display-control-end {
  height: 5rem;
  position: absolute;
  right: 1.3636rem;
  top: 5rem;
  .editor-x-display-reverse-icon {
    margin-top: 0.2727rem;
  }
}
.editor-x-side-control-icons {
  width: 5.4545rem;
  height: 5.4545rem;
  border-radius: 0.2727rem;
  box-shadow: inset 0 1.5px 1.5px 0 rgba(var(--black-rgb), 0.1), inset 0 -0.5px 0 0 rgba(var(--white-rgb), 0.09),
    inset 0 -1px 0 0 rgba(var(--white-rgb), 0.08), inset 0 0.5px 0 0 rgba(var(--white-rgb), 0.05);
  border: solid 0.5px rgba(var(--white-rgb), 0.05);
  background: var(--pearl-dark);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  span {
    cursor: pointer;
    color: var(--regent-gray);
    &.editor-x-active {
      color: var(--dark-bg-text-color);
    }
  }
  i {
    font-size: 1.6rem;
  }
}
.editor-x-display-reverse-icon {
  cursor: pointer;
  font-size: 1.3rem;
  width: 1.4545rem;
  height: 1.4545rem;
  border-radius: 0.2727rem;
  box-shadow: inset 0 1.5px 1.5px 0 rgba(var(--black-rgb), 0.1), inset 0 -0.5px 0 0 rgba(var(--white-rgb), 0.09),
    inset 0 -1px 0 0 rgba(var(--white-rgb), 0.08), inset 0 0.5px 0 0 rgba(var(--white-rgb), 0.05);
  border: solid 0.5px rgba(var(--white-rgb), 0.05);
  background: var(--pearl-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.editor-x-display-control-text {
  font-size: 0.7273rem;
  font-weight: 500;
  display: block;
  &.editor-x-active {
    color: var(--dark-bg-text-color);
  }
}
.editor-x-side-control-icon-top {
  position: absolute;
  top: 2px;
}
.editor-x-side-control-icon-bottom {
  position: absolute;
  bottom: 2px;
}
.editor-x-display-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.editor-x-display-checkbox-line {
  display: block;
  width: 1px;
  height: 1.2727rem;
  background: var(--brush-marble-gray);
}
.editor-x-display-flex-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3636rem 0 1.8182rem;
}
.editor-x-display-flex-wrap-toggle {
  flex: 0 0 50%;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  .editor-x-display-reverse-icon {
    margin-right: 0.9091rem;
  }
}
.editor-x-display-item-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
  i {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
  }
  .x-icon-align-content-start,
  .x-icon-align-content-center {
    margin-right: 0.9091rem;
  }
  .x-icon-wrap-h-v,
  .x-icon-justify-center {
    margin-right: 0.4545rem;
  }
  .editor-x-active {
    width: 2.1818rem;
    height: 2.1818rem;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(var(--black-rgb), 0.49);
    background: var(--battleship-gray);
    .path1:before {
      color: var(--chateua-gray);
    }
  }
}
.editor-x-display-item-align-line {
  width: 1px;
  height: 2.1818rem;
  background: var(--brush-marble-gray);
  margin: 0 1.8182rem;
}
.editor-x-display-flex-children {
  padding: 2.7273rem 0 0px;
}
.editor-x-display-flex-checkbox {
  display: flex;
  justify-content: space-between;
  padding: 0.4545rem 0;
}
.editor-x-display-flex-range {
  margin-bottom: 0.9091rem;
}
.editor-x-display-item-ordering {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.editor-x-display-inputs {
  display: flex;
  align-items: center;
}
.editor-x-display-input-text {
  margin-left: 0.9091rem;
  input {
    &[type="text"] {
      max-width: 2.7273rem;
      margin-top: -0.4545rem;
    }
  }
}
.editor-x-display-order-btn {
  display: flex;
  align-items: center;
  button {
    &:last-child {
      margin-left: 0.4545rem;
    }
  }
}
.editor-x-display-align-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.editor-x-display-align-child-icons {
  display: flex;
  i {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 0.9091rem;
    font-size: 1.7rem;
  }
  .editor-x-active {
    width: 2.1818rem;
    height: 2.1818rem;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(var(--black-rgb), 0.49);
    background: var(--battleship-gray);
    .path1:before {
      color: var(--chateua-gray);
    }
  }
}
