//Topbar style
.sppb-topbar-container {
    min-height: var(--top-portal-height);
    position: var(--pos-fixed);
    width: var(--width-100);
    background-color: var(--default-bg-color);
    top: var(--space-0);
    left: var(--space-0);
    color: var(--default-text-color);
    border-bottom: var(--border-1px-solid) var(--topbar-border-color);
    display: var(--dis-flex);
    flex-wrap: var(--flex-wrap);
    justify-content: var(--space-between);
    align-items: var(--align-item-center);
    padding: var(--space-10) 0;
}
.sppb-topbar-left {
    display: var(--dis-flex);
    align-items: var(--align-item-center);
}
.sppb-topbar-menu {
    padding: 0.8182rem var(--space-20);
    border-right: 1px solid var(--topbar-border-color);
    i {
        font-size: 1.8182rem;
    }
}
.sppb-zoom-controller {
    padding: 1.1818rem var(--space-20);
    border-right: 1px solid var(--topbar-border-color);
    color: var(--white);
    span {
        display: var(--dis-inline-block);
        text-align: var(--textalign-center)
    }
}
.sppb-zoom-plus,
.sppb-zoom-minus {
    background-color: var(--black);
    width: 1.0909rem;
    height: 1.0909rem;
    line-height: 1.0909rem;
    border-radius: var(--border-radius-50);
    cursor: pointer;
}
.sppb-zoom {
    margin: 0 var(--space-5);
}
.sppb-responsive-btn {
    padding: 0 var(--space-20);
    text-align: var(--textalign-center);
    i {
        font-size: 1.7rem;
    }
    span {
        display: var(--dis-block);
        margin-top: var(--space-5);
    }
}
.sppb-top-alignment {
    display: var(--dis-flex);
    flex-wrap: var(--flex-wrap);
    justify-content: var(--space-between);
    i{
        font-size: 1.5rem;
        padding: 10px 5px;
    }
}
.sppb-topbar-right {
    display: var(--dis-flex);
    text-align: var(--textalign-center);
    align-items: var(--align-item-center);
    > div {
        padding: 0 var(--space-20);
    }
    .sppb-tobbar-right-publish {
        border-left: 1px solid var(--topbar-border-color);
        border-right: 1px solid var(--topbar-border-color);
        padding: 0.8182rem var(--space-20);
    }
    span {
        display: var(--dis-block);
        line-height: 1;
        &:not(.sppb-right-username) {
            margin-top: var(--space-5);
        }
        &.sppb-right-username {
            font-size: 1.4545rem;
            color: var(--white);
            background-color: var(--user-bg-color);
            height: var(--space-30);
            width: var(--space-30);
            line-height: var(--space-30);
            border-radius: var(--border-radius-50);
        }
    }
    i {
        font-size: 1.5rem;
        color: var(--white);
    }
}