//Topbar style
.sppb-topbar-container {
    min-height: var(--top-portal-height);
    position: fixed;
    width: var(--width-100);
    background: var(--charcoal-dark);
    top: var(--space-0);
    left: var(--space-0);
    color: var(--default-text-color);
    @include border("-bottom", 1px, solid, var(--topbar-border-color));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-10) 0;
}
.sppb-topbar-left {
    display: flex;
    align-items: center;
}
.sppb-topbar-menu {
    padding: 0.8182rem var(--space-20);
    border-right: 1px solid var(--brush-marble-gray);
    i {
        font-size: 1.8182rem;
    }
}
.sppb-zoom-controller {
    padding: 1.1818rem var(--space-20);
    border-right: 1px solid var(--brush-marble-gray);
    color: var(--white);
    span {
        display: inline-block;
        text-align: center;
    }
}
.sppb-zoom-plus,
.sppb-zoom-minus {
    background-color: var(--black);
    width: 1.0909rem;
    height: 1.0909rem;
    line-height: 1.0909rem;
    border-radius: 50%;
    cursor: pointer;
}
.sppb-zoom {
    margin: 0 var(--space-5);
}
.sppb-responsive-btn {
    padding: 0 var(--space-20);
    text-align: center;
    i {
        font-size: 1.7rem;
    }
    span {
        display: block;
        margin-top: var(--space-5);
    }
}
//Reusable component
.sppb-reusable-component-docker {
    background: var(--charcoal-dark);
    padding: 0.4545rem;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(var(--black-rgb), 0.3);
}
.sppb-reusable-content {
    padding: 5px 8px 15px;
    i {
        font-size: 1.3rem;
        padding: 0px 5px;
    }
    p {
        margin: 0;
    }
}
.sppb-reuseable-title {
    span {
        color: var(--battleship-gray);
    }
}
.sppb-reusable-content-body {
    border-radius: 0.2727rem;
    @include border("", 1px, solid, var(--brush-marble-gray));
    background: var(--pearl-dark);
    flex: 1;
    padding: 1.3636rem;
    margin-top: 1.3636rem;
    display: flex;
    .sppb-tags-btn {
        margin-left: 0.9091rem;
    }
}
//Sidebar panel
.sppb-sidebar-panel {
    margin-top: 1.3636rem;
    border-radius: 0.4545rem;
    box-shadow: 0 1px 1px 0 rgba(1, 1, 2, 0.67);
    background: var(--pearl-dark);
    padding: 0.2727rem;
}
.sppb-sidebar-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sppb-sidebar-panel-icon {
    i {
        padding: 0 0.4545rem;
    }
}
.sppb-panel-title {
    text-align: center;
    color: var(--dark-bg-text-color);
    letter-spacing: 0.3px;
    margin-top: 15px;
}
.sppb-sidebar-panel-body {
    border-radius: 0.2727rem;
    background: var(--charcoal-dark);
    padding: 15px 10px;
    height: 50vh;
}
.sppb-topbar-right {
    display: flex;
    text-align: center;
    align-items: center;
    > div {
        padding: 0 var(--space-20);
    }
    .sppb-tobbar-right-publish {
        border-left: 1px solid var(--brush-marble-gray);
        border-right: 1px solid var(--brush-marble-gray);
        padding: 0.8182rem var(--space-20);
    }
    span {
        display: block;
        line-height: 1;
        &:not(.sppb-right-username) {
            margin-top: var(--space-5);
        }
        &.sppb-right-username {
            font-size: 1.4545rem;
            color: var(--white);
            background-color: var(--user-bg-color);
            height: var(--space-30);
            width: var(--space-30);
            line-height: var(--space-30);
            border-radius: 50%;
        }
    }
    i {
        font-size: 1.5rem;
        color: var(--white);
    }
}
