body {
  margin: 0;
  padding: 0;
}

iframe.sppb-iframe {
  display: block;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  border: 0;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
iframe.sppb-iframe-desktop {
  width: calc(100% - 48px) !important;
  min-width: 1170px;
  margin-left: 48px !important;
  max-width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#sppb_sidebar {
  font-family: "Open Sans", Arial, sans-serif;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 48px;
  color: #fff;
  z-index: 1060;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .sppb-ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .sppb-tools-menu {
    background: #141923;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
    height: 100%;
    position: relative;
    z-index: 1;
    .sppb-control-item {
      font-size: 16px;
      color: #fff;
      width: 48px;
      max-height: 57px;
      padding-top: 20px;
      padding-bottom: 20px;
      line-height: 1;
      cursor: pointer;
      text-align: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      span {
        width: 1.5em;
        height: 1.5em;
        font-size: 12px;
        border-radius: 50%;
        padding: 4px 0;
        color: #141923;
        background: #ffffff;
        cursor: pointer;
        -webkit-transition: color 0.25s ease;
        transition: all 0.25s ease;
        &:hover {
          background: #3dbfe8;
          color: #141923;
        }
      }
    }
  }
  .sppb-tools-container {
    position: absolute;
    top: 0;
    left: 48px;
    width: 280px;
    height: 100%;
    background-color: #2b3039;
    overflow-x: hidden;
    overflow-y: auto;
    transition: transform 150ms linear 0s;
    transform: translate3d(0px, 0px, 0px);
    .sppb-tool-title {
      display: flex;
      align-items: center;
      width: 100%;
      height: 48px;
      background-color: #383e47;
      padding-left: 30px;
      padding-right: 30px;
      .sppb-title {
        font-size: 15px;
        font-family: "Open Sans", Arial, sans-serif;
        font-weight: 600;
      }
    }
    .sppb-tools-main {
      padding-top: 15px;
      padding-left: 12px;
      padding-right: 12px;
      .sppb-block-list-title {
        border-bottom: 1px solid #383e47;
        margin-bottom: 10px;
        .sppb-title {
          margin: 0;
          padding: 3px 0;
          font-size: 1em;
        }
      }
      .sppb-tool {
        margin-bottom: 15px;
        .sppb-tool-inner {
          border: 2px solid #3c424d;
          width: 100px;
          height: 80px;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          border-radius: 3px;
          flex-direction: column;
          cursor: pointer;
          transition: all 0.2s linear 0s;
          .sppb-tool-name {
            font-size: 12px;
          }
          span {
            font-size: 25px;
          }
          &:hover {
            border-color: #fff;
          }
        }
      }
    }
  }
}

.sppb-indicator {
  height: 2px;
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.sppb-heading {
  border-bottom: 1px solid goldenrod;
}